html(ng-app='inboxApp')
  head
    title Mini Inbox App
    // Ionic CSS
    link(href='http://code.ionicframework.com/1.3.0/css/ionic.min.css', rel='stylesheet')
    style.
      aside{margin-top:4em;}
  body(style='width:50%;margin-left:auto;margin-right:auto')


    ng-view.ionic-body
      h1 Home Now X
    // Angular
    script(src='../js/angular/angular.js')
    // UI-Router
    script(src='../js/angular-ui-router/release/angular-ui-router.js')
    script(src='../js/angular-route/angular-route.js')
    script(src='../app.js')
