<style>
.item:first-child{
border-top:none;
}	
.item:last-child{
	border-bottom:none;
}	
</style>
<aside ng-controller="inbox" >
	<div class="bar bar-header padding" >
  <h1 class="title">Inbox of {{user.name}}</h1>
  <a class="button icon-left ion-chatbox button-clear button-dark"  ng-click="openNewM()"></a>

</div>

<div class="list">

    <a class="item item-avatar" href="#/inbox/{{conv.id}}" ng-repeat="conv in user.inbox.data ">
      <img src="http://graph.facebook.com/{{conv.to.data[0].id == user.id ? conv.to.data[1].id : conv.to.data[0].id }}/picture">
      <h2>{{conv.to.data[0].name == user.name ? conv.to.data[1].name : conv.to.data[0].name }}</h2>
      <p>{{conv.comments.data[conv.comments.data.length-1].message}}</p>
    </a>

    

</div>
</aside>
