<!DOCTYPE html>
<html ng-app="inboxApp">

<head>
    <title>Mini Inbox App</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body >
<h1>Hello</h1>
<ng-view ng-controller="HomeLogin">
</ng-view>

  <!-- Angular -->
<script src="../js/angular/angular.js"></script>
  <!-- UI-Router -->
  <script src="../js/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="../js/angular-route/angular-route.js"></script>
  
<script src="./app.js"></script>

</body>

</html>